* {
    box-sizing: border-box;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
body.p1-wins {
    background-color: #d4edda; 
}


.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.container:hover {
    transform: scale(1.05);
}

.img-container {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
    
}

.img {
    width: 100%;
    display: block;
    height: 200px;
}

.content {
    text-align: center;
}

.score-display {
    font-size: 2.5rem;
    margin: 20px 0;
}

.button-group {
    margin: 10px 0;
}

.set-score-group {
    margin-top: 15px;
    font-size: 1rem;
    color: #333;
}

.set-score-group label {
    margin-right: 10px;
}

#p1score,#p2score,#reset {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    color: black;
}
#p1score{
    background-color: rgb(116, 116, 207);
}
#p2score{
    background-color: rgb(205, 203, 98);
}
#reset{
    background-color: bisque;
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.winner {
    color: green;
    font-weight: bold;
    animation: winnerAnimation 1s infinite alternate;
}

.loser {
    color: red;
    animation: loserAnimation 1s infinite alternate;
}

select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    font-size: 1rem;
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.8s ease-in;

    
}

select:hover {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

select:focus {
    outline: none;
    border-color: #0056b3;
    box-shadow: 0 0 8px rgba(0, 86, 179, 0.4);
}


@keyframes winnerAnimation {
    from {
        text-shadow: 0 0 10px rgba(0, 255, 0, 0.7);
    }
    to {
        text-shadow: 0 0 20px rgba(0, 255, 0, 1);
    }
}

@keyframes loserAnimation {
    from {
        text-shadow: 0 0 10px rgba(255, 0, 0, 0.7);
    }
    to {
        text-shadow: 0 0 20px rgba(255, 0, 0, 1);
    }
}